@import 'https://fonts.googleapis.com/css?family=Cinzel';

/*背景画像の設定をする*/

html, body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  opacity: 0.9;
}

#header {
  background: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  opacity: 0.8;
}

.container {
  height: 20px;
  background-color: black;
  color: white;
}

#logo {
  width: 40%;
  float: left;
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
}

#logo h1 {
  float: left;
  font-size: 25px;
  left: 0;
}

#sns{
  z-index: 5;
	padding:6px;
	max-width: 100%;
	display: inline;
	margin-bottom: 50%;
}

#sns img{
	max-width: 50px	;
	height: auto;
	display: inline-block;
  padding-bottom:30px;+
}

#sns li{
display: inline-block;
padding:2%;
}


a {
  color: white;
	text-decoration: none;
}


div {
  display: block;
}

section {
	position: relative;
	width: 100%;
}

#section01 {
  background: url(picture/belrin1.jpg) no-repeat center;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
	text-align: center;
}

#section01 a span {
  margin: 0 auto;
  text-align: center;
  width: 200px;
  height: 24px;
}


#section01 h1 {
  margin: 200px 0 0	 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 70px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.container-fluid{
  width:50%;
}


section h2 {
	margin-bottom: 70px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.demo a {
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacitys.3s;
}


/*:beforeにぼかし効果を設定する*/

#section01:before {
  content: '';
  background: inherit;
  /*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(8px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  /*重なり順序を一番下にしておく*/
}

#bio,#about,#history,#skills,#portfolio{
  text-align: center;
  display: inline-block;
	background-color: rgba(0, 0, 0, 0);

}



img.vivixx2	{
	margin-bottom: 20px;
	width:20%;
	height:auto;
	opacity: 0.9;
	padding-right:10px;
}
img.vivixx3	{
	margin-bottom: 20px;
	width:20%;
	height:auto;
	opacity: 0.9;
	padding-right:10px;
}
img.vivixx4	{
	margin-bottom: 20px;
	width:20%;
	height:auto;
	opacity: 0.9;
	padding-right:10px;
}


img.logo-skill	{
	margin-top:30px;
	width:8%;
	height:auto;
	padding-right:4px;
	opacity: 0.4;
}


#about h1  {
  font-family: 'Cinzel', serif;
  color: black;
  text-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  opacity: 0.8;
}

#history h1, #skills h1, #portfolio h1, #contact h1{
	font-family: 'Cinzel', serif;
  color: black;
  text-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  opacity: 0.8;

}

#bio-script p ,#aboutme-script p{
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 15px;
  color: black;
  text-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-bottom: 10px;
  padding: 5px;
  width: 80%;
  display: inline-block;
}

img.self-img {
  max-width: 35%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 50px;
}

img.portfolio{
	max-width: 35%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 50px;
}

#bio-script a span {
  text-align: center;
  margin: 0 auto;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  -webk it-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}





form{
  max-width: 450px;
  margin: 0 auto 50px;
  }

  .contact-info-group label{
    width:50%;
    float: left;
    padding-right: 10px;
    +box-sizing: (border-box);
    margin-right: 2%;
  }


  label{
    display: block;
    margin-bottom: 20px;
  }

span.contact{
  display: block;
}

input , textarea{
  border: 3px solid $accent;
  width: 100%;

}
footer {
    display: inline-block;
		text-align: center;
		background-color: black;
		color:white;
		padding:16px;
    font-size: 15px;
		width: 100%;
		bottom: 0;
		z-index: 2;
    font-family: 'Kaushan Script', cursive;

}
